# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/

# Flask
.migrations/

# React
node_modules/
build/
dist/

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Environment variables
.env

# Sensitive configuration
config.py

# Logging
app.log

# SQLite database file
backend/instance/auto_service.db
